@tailwind base;
@tailwind components;
@tailwind utilities;


*{
      margin: 0px;
      padding: 0px;
}

#home{
      display: flex;
      background-color: #000;
}

#bgimage{
      height: 99.5vh;
}

#box{
      
      color: white;
}